root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*{Make,make,mk}file]
indent_size = unset
indent_style = tab

[*.{bat,cmd,dos,inf,jse,klc,ps1,psc1,psd1,psm1,sct,reg,url,vbe,vbs,wsc,wsf,wsh}]
# See https://github.com/editorconfig/editorconfig/issues/209
charset = unset
end_of_line = crlf

[*.{cson,css,htm,html,json,jsonc,mht,mhtml,plist,svg,ui,xht,xhtml,xml,yaml,yml}]
indent_size = 2
insert_final_newline = unset

[*.{adoc,ascii,asciidoc,cff,markdown,md,mdown,mdx,me,rst,snap,text,textile,txt}]
indent_size = unset
trim_trailing_whitespace = false
