root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd,dos,url}] #[*.{klc,reg}]
# See https://github.com/editorconfig/editorconfig/issues/209
charset = latin1
end_of_line = crlf

[*.{ca,json,plist,sls,xml,yaml,yml}]
indent_size = 2

[*.{markdown,md,mdown,mdx,rst,snap}]
trim_trailing_whitespace = false
