root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd,dos,url}]
# See https://github.com/editorconfig/editorconfig/issues/209
charset = latin1
end_of_line = crlf

[*.{ca,css,html,json,plist,sls,xml,yaml,yml}]
indent_size = 2
insert_final_newline = unset

[*.{adoc,markdown,md,mdown,mdx,rst,snap,txt}]
indent_size = unset
trim_trailing_whitespace = false
